@media screen and (max-width : 800px ){
  body { 
    overflow-x: hidden;
   
  }
  .img-list {
    margin-right: 10px !important;
  }
  .img {
    width: 55% !important;
  }
  .question {
    margin-right: 5% !important;
  }
  h1 { margin-right: -40px !important;}
}
body { 
  background-color: black;
  margin: 0 ;
  padding: 0;
  height: 100vh;
  width: 100%;
  overflow-x : hidden;
}
h1 {
   font-size: 45px ;
   font-family: cursive;
   color: white;
   margin-top: 50px;
   text-shadow: 1px 1px 2px red, 0 0 1em rgb(117, 3, 3), 0 0 0.2em black;
   opacity: 0;
   transform: translateY(-50px);
   animation: comedown 1.5s ease-out forwards;  
}
@keyframes comedown { 
   0% {
    opacity: 0;
    transform: translateY(-50px);
   }
   100% {
    opacity: 1;
    transform: translateY(0);
   }
}
h1:hover { 
  transition: 2s;
  color: #bd2004;
  text-shadow: 1px 1px 2px rgb(205, 45, 45), 0 0 1em rgb(10, 3, 1), 0 0 0.2em rgb(24, 9, 5);
  cursor: none;
}
.img-list {
  align-items: center;
  justify-content: center;
  margin-top: 120px;
  margin-right: 100px;
  opacity: 0;
  transform: translate(-100px , -100px);
  animation: leftdown 1.5s ease-out forwards;
}
.img-list img:nth-child(1) {
  animation-delay: 0s;
}
.img-list img:nth-child(2){
  animation-delay: 0.5s;
}
.img-list img:nth-child(3){
  animation-delay: 1s;
}
@keyframes leftdown {
  0% {
    opacity: 0 ;
    transform: translate(-100px , -100px);
  }
  100% { 
    opacity: 1;
    transform: translate(0,0);
  }
}
.img { 
   height: 200px;
   width: 18rem;
   margin-right: 50px;   
   filter: drop-shadow(0 -6mm 4mm rgba(124, 0, 0, 0.862));
   border-radius: 45px;
}
.img-list .img {
  transition: 1.5s;
}
.img:hover {
  transform: scale(1.1);
  filter: blur(0) brightness(1);
  filter: drop-shadow(0 -6mm 4mm rgb(124,0,0,0.862));
  cursor: none;
}
.img-list:hover .img:not(:hover) {
  filter: blur(4px) brightness(0.5);
}
.question { 
  margin-top: 60px;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 15px;
  border: 3px solid white;
  border-radius: 30px 10px 30px 10px;
  direction: ltr;
  opacity: 0;
  transform: translateY(100px);
  animation: comeUp 1.5s ease-out forwards;
}
details {
  font-family: cursive;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.question details:nth-child(1) {
  animation-delay: 0s;
}
.question details:nth-child(2) {
  animation-delay: 0.5s;
}
.question details:nth-child(3) {
  animation-delay: 1s;
}
.question details:nth-child(4) {
  animation-delay: 1.5s;
}
@keyframes comeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

